.seccion5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background-color: #B4C2D4;
}

.contenedor-contacto{
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.contenido-contacto{
    width: 500px;
    height: 80px;
}
.contenido-contacto svg{
    width: 20px;
    height: 20px;
    top: 1rem;
    margin-right: 5px;
}

.contenido-redes{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contenido-redes img{
    width: 50px;
    height: 50px;
}

.contenedor-formulario{
    flex: 1 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.formulario input,.formulario textarea{
    width: 400px;
    margin: 2px;
    border: 0;
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
}
.formulario button{
    margin-top: 10px;
    border-radius: 5px;
}
