@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Square+Peg&display=swap');

.seccion1 {
    background-color: #B3C2F2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 5px;
    position: relative;
}

.bajar {
    position: absolute;
    margin-top: 50px;
    bottom: 5px;
    left: calc(50% - 50px);
    animation: bajando 2s infinite 0s alternate-reverse;
}

svg {
    width: 100px;
    height: 100px;
}

@keyframes bajando {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-20%);
    }
}

.contenedor-texto {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-tit {
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.titulo1 {
    text-align: start;
    font-size: 80px;
    font-family: 'Square Peg', cursive;
    color: black;
    margin: 0 0 0 10px;
}

.titulo2 {
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: 'Square Peg', cursive;
}

.cont-desc {

    font-family: 'Chakra Petch', sans-serif;
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.desc {
    margin: 10px 0 100px 25px;
    font-size: 2.2em;
    max-height: 2em;
    min-height: 1.8em;
    border-right: 2px solid black;
}

.contenedor-img {
    min-width: 100px;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*Responsive para celulares*/
@media only screen and (max-width:600px) {
    .seccion1 {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
    }

    .bajar {
        margin-top: 20px;
        left: calc(50%-40px);
    }

    svg {
        width: 80px;
        height: 80px;
    }

    .contenedor-tit {
        margin-bottom: 10px;
    }

    .titulo1 {
        font-size: 55px;
    }

    .titulo2 {
        font-size: 70px;
    }

    .desc {
        margin: 10px 25px 100px 25px;
        font-size: 22px;
        height: 20px;
    }

    .imagen {
        width: 225px;
        height: 225px;
    }
}