.seccion3{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.titulo-habilidades,.titulo-otros{
    width: 100%;
    text-align: center;
}
.contenedor-habilidades{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.hab{
    flex: 1 1;
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
}
.contenedor-hab{
    display: flex;
    flex-direction: row;
}
.contenedor-front,.contenedor-back{
    display: flex;
    flex: 1 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.contenedor-otros{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cont{
    max-height: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgc{
    display: flex;
    flex: 1;
    width: max-content;
    max-height: 75px;
}
.cont-linea-ve{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.linea-vertical{
    background: linear-gradient(360deg,black,grey,white) ;
    width: 2px;
    height: 200px;
}
.cont-linea-ho{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linea-horizontal{
    background: radial-gradient(black,grey,white) ;
    height: 2px;
    width: 500px;

}

@media (max-width: 500px) { 
    .linea-horizontal,.linea-vertical{
        display: none;
    }
}