@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Caveat:wght@600&family=Courgette&family=Indie+Flower&family=Kaushan+Script&display=swap');
.seccion3 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.cont-hab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgb(182, 171, 156);
}

.contenedor-hab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hab-fbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 350px;
    width: 250px;
    border-radius: 10px;
}

.hab-fbo:hover {
    box-shadow: 0 5px 10px rgb(182, 171, 156);
}
/*
font-family: 'Amatic SC', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Courgette', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Kaushan Script', cursive;
*/

.hab-fbo p{
    
}
.hab-fbo h4{
    
}

.hab-fbo img {
    width: 80px;
    height: 80px;
}

.list-hab {
    margin-top: 20px;
    height: 70%;
    width: 100%;
}

.ele-list {
    margin: 5px 10px 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.ele-list svg {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width:600px) {

    .hab-fbo {
        box-shadow: 0 5px 10px rgb(182, 171, 156);
    }

    .cont-hab {
        box-shadow: none;
    }

}